<nav class="navbar navbar-expand-lg" style="background-color: rgb(51, 138, 4)">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="./../../../assets/Neural Organics-PNG.png"
        width="55"
        height="50"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toogle_collapsed()"
    >
      <span class="navbar-toggler-icon" ngToggler></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      [ngbCollapse]="collapsed"
    >
      <div class="me-auto mb-2">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/devices">Devices</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">SignUp</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
