<div class="container">
  <h5 style="margin-top: 10px">Device Control and Configuration</h5>
  <div class="card w-100 cardstyle">
    <div class="card-header bg-primary">
      {{ deviceDetails.deviceName }} - Configuration
    </div>
    <div class="card-body">
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <button class="btn btn-primary">Configure</button>
    </div>
  </div>
  <div class="card w-100 cardstyle">
    <div class="card-header bg-success">
      {{ deviceDetails.deviceName }} - Operation
    </div>
    <div class="card-body">
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <button class="btn btn-success">Control</button>
    </div>
  </div>
</div>
