.adddev{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.adddevbut{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}