.adddev{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.adddevbut{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.devices{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.cardbuttonstyle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.cardstyle {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}