<div class="container-fluid">
  <div class="" style="width: 100%; margin-top: 10px">
    <div class="card">
      <div class="card-header">Add a New Device</div>
      <div class="card-body adddev">
        <p>To add a new Device click Add Device Button</p>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapsed"
          data-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
          (click)="toogle_collapsed()"
        >
          Add Device
        </button>
      </div>

      <div
        class="collapse"
        style="padding: 10px"
        id="collapseExample"
        [ngbCollapse]="collapsed"
      >
        <div class="card card-body mt-2">
          <div class="alert alert-danger" role="alert" *ngIf="emptyForm">
            Please fill all the detials in the form
          </div>
          <form class="needs-validation" [formGroup]="addDeviceForm" novalidate>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Device Type</label>
              <select
                class="form-control"
                id="exampleFormControlSelect1"
                formControlName="devtype"
                required
                [ngClass]="
                  (addDeviceForm.controls['devtype'].touched ||
                    addDeviceForm.controls['devtype'].dirty) &&
                  addDeviceForm.controls['devtype'].invalid
                    ? 'is-invalid'
                    : '' ||
                      ((addDeviceForm.controls['devtype'].touched ||
                        addDeviceForm.controls['devtype'].dirty) &&
                        !addDeviceForm.controls['devtype'].invalid)
                    ? 'is-valid'
                    : ''
                "
              >
                <option *ngFor="let devtype of deviceTypes.types">
                  {{ devtype }}
                </option>
              </select>
              <div class="invalid-feedback">
                {{
                  addDeviceForm.controls["devtype"].hasError("required")
                    ? "Please Select the Device Type from the List"
                    : ""
                }}
              </div>
            </div>
            <div class="form-group">
              <label for="devicename">Device Name</label>
              <input
                type="text"
                class="form-control"
                id="devicename"
                placeholder="Enter the Device Name"
                formControlName="devname"
                autocomplete="off"
                required
                [ngClass]="
                  (addDeviceForm.controls['devname'].touched ||
                    addDeviceForm.controls['devname'].dirty) &&
                  addDeviceForm.controls['devname'].invalid
                    ? 'is-invalid'
                    : '' ||
                      ((addDeviceForm.controls['devname'].touched ||
                        addDeviceForm.controls['devname'].dirty) &&
                        !addDeviceForm.controls['devname'].invalid)
                    ? 'is-valid'
                    : ''
                "
              />
              <div class="invalid-feedback">
                {{
                  addDeviceForm.controls["devname"].hasError("required")
                    ? "Dev Name is Required"
                    : ""
                }}
              </div>
            </div>
            <div class="form-group">
              <label for="devMAC">Device MAC</label>
              <input
                type="text"
                class="form-control"
                id="devMAC"
                placeholder="Enter the Device MAC"
                formControlName="devmac"
                autocomplete="off"
                required
                [ngClass]="
                  (addDeviceForm.controls['devmac'].touched ||
                    addDeviceForm.controls['devmac'].dirty) &&
                  addDeviceForm.controls['devmac'].invalid
                    ? 'is-invalid'
                    : '' ||
                      ((addDeviceForm.controls['devmac'].touched ||
                        addDeviceForm.controls['devmac'].dirty) &&
                        !addDeviceForm.controls['devmac'].invalid)
                    ? 'is-valid'
                    : ''
                "
              />
              <div class="invalid-feedback">
                {{
                  addDeviceForm.controls["devmac"].hasError("required")
                    ? "MAC ID is Required"
                    : ""
                }}
              </div>
            </div>
            <div class="adddevbut">
              <button
                type="button"
                class="btn btn-success"
                (click)="addDevice()"
              >
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="cardstyle">
      <div
        class="card"
        style="
          width: 18rem;
          margin-top: 10px;
          margin-right: 2px;
          margin-left: 2px;
        "
        *ngFor="let dev of devices"
      >
        <div
          class="card-header text-white"
          [ngClass]="dev.devStatus ? 'bg-success' : 'bg-danger'"
          style="font-size: 20px; font-weight: bold"
        >
          {{ dev.deviceName }} - {{ dev.devType }}
        </div>
        <div class="card-body">
          <h5 class="card-title">IP: {{ dev.ipAddress }}</h5>
          <p class="card-text">Operation: {{ dev.operation }}</p>
          <p class="card-text">Sector: {{ dev.sector }}</p>
          <div></div>
          <div class="col d-flex cardbuttonstyle">
            <a
              [href]="getURL(dev.devid)"
              class="btn btn-primary"
              target="_blank"
              >Open Device</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
